@use "../base/colors" as *;
@use "../abstracts/mixins" as *;

footer{
    background-color: $dark-100;
    border-top: 2px solid $dark-400;
    text-align: center;
    padding: 16px;
    color: $dark-900;
    
  @include breakpoint(big){
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
  }
}