@use "../abstracts/" as *;
@use "../base/colors" as *;

header{
    max-height: 100px;
    padding: 16px 16px;
    background-color: $dark-100;
    border-bottom: 2px solid $dark-400;

    @include flex($flex-wrap: nowrap, $justify-content: space-between, $align-items: center);

    @include breakpoint(big){
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
  }
}

.search-bar{
    @include flex($flex-wrap: nowrap, $justify-content: center, $align-items: center);
    gap: 4px;

    &__input{
        border: none;
        border-bottom: 1px solid $dark-700;
        color: $dark-900;
        background-color: transparent;

        &:hover{
            cursor: pointer;
        }

        &:focus{
            outline: none;
        }
    }


    &__submit{
        height: 32px;
        width: 32px;

        stroke: $dark-900;
        fill: $dark-900;
    }
}


#pokeball {
    height: 50px;
    width: 50px;
}