@use "../base/colors" as *;
@use "../abstracts/mixins" as *;
body{
    @include flex($flex-direction: column, $flex-wrap: nowrap)
}


.content{
    @include flex($flex-direction: column);
    flex-grow: 1;
    color: $dark-900;
    background-color: $dark-100;
    padding: 8px;
}

.pokemon-list{
    max-height: 80vh;
    overflow: scroll;
}

.load-more-btn{
    max-width: fit-content;
    padding: 8px 16px;
    margin: 0 auto;
}
