@use "../base/colors" as *;
@use "../abstracts/mixins" as *;
body{
    @include flex($flex-direction: column, $flex-wrap: nowrap)
}


.content{
    @include flex($flex-direction: column);
    flex-grow: 1;
    color: $dark-900;
    background-color: $dark-100;
    
}

.pokemon-list{
    max-height: 75vh;
    overflow: scroll;
    padding: 16px 0;
}

.load-more-btn{
    max-width: fit-content;
    padding: 8px 24px;
    margin: 24px auto;
    border-radius: 16px;
    background-color: $red-500;
}

