@use "../base/colors" as *;
@use "../abstracts/mixins" as *;
body{
    @include flex($flex-direction: column, $flex-wrap: nowrap);

}

.d-none{
    display: none;
}

.content{
    @include flex($flex-direction: column);
    flex-grow: 1;
    color: $dark-900;
    background-color: $dark-100;

    @include breakpoint(big){
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
  }
    
}

.pokemon-list{
    max-height: 75dvh;
    overflow-y: scroll;
    padding: 16px 0;
    @include flex($justify-content: space-evenly);
}

.load-more-btn{
    max-width: fit-content;
    padding: 8px 40px;
    margin: 24px auto;
    border-radius: 16px;
    background-color: $red-500;
    transition: transform 0.2s ease;
    cursor: pointer;
    
    &:hover{
        transform: scale(1.1);
        background-color: $red-600;
    }
}

.no-results{
    font-size: 32px;
    font-weight: 600;
    margin-top: 15dvh;
}

