@use "../abstracts/mixins" as *;
@use "../base/colors" as *;
@use "../abstracts/functions" as *;


.card {
    min-width: 280px;
    padding: 16px;
    border: 6px solid $dark-400;
    border-radius: 16px;
    margin: 16px;
    background-size: 200% 200%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    @include flex($flex-direction: column);

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.25);
        cursor: pointer;

        .card__image{
            transform: scale(1.08);
            filter:
                drop-shadow(0 12px 20px rgba(0, 0, 0, 0.45))
                drop-shadow(0 0 22px rgba(255, 255, 255, 0.65));
            
        }
    }

    &__header{
        @include flex($justify-content: space-between);
        padding: 16px 8px;
        font-size: 26px;
        font-weight: 900;
        

        & > h1{
            text-transform: capitalize;
        }
    }

    &__image {
        width: 100%;
        max-height: 150px;
        max-width: 140px;
        aspect-ratio: 1/1;
        margin: 16px auto;
        display: block;

        filter: drop-shadow(0 12px 18px rgba(0, 0, 0, 0.45));
        transition: transform 0.2s ease, filter 0.2s ease;

    }

    &__types{
        display: flex;
        gap: 6px;
    }
}


.chip {
  padding: 4px 8px;
  border-radius: 12px;
  border: $dark-400 solid 1px;
  font-size: 17px;
  font-weight: 600;
  color: $dark-900;
  background: #666;
  text-transform: capitalize;
}

@include pokemon-card-gradients($types);

@include pokemon-type-classes($types);