.loading-spinner {
  position: fixed;
  inset: 0;
  z-index: 3000;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  &.d-none {
    display: none;
  }
}
.pokeball {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;

  background: linear-gradient(
    to bottom,
    #e3350d 0%,
    #e3350d 50%,
    #ffffff 50%,
    #ffffff 100%
  );

  border: 4px solid #111;

  animation: spin 1s linear infinite;
}
.pokeball::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  height: 6px;
  background: #111;
  transform: translateY(-50%);
}
.pokeball::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 14px;
  height: 14px;
  background: white;
  border: 3px solid #111;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
