$dark-100: #0f172a; // App Background 
$dark-200: #111827; // Cards / Panels
$dark-300: #1f2937; // Borders
$dark-400: #374151; // Divider / Inputs
$dark-700: #9ca3af; // Secondary Text
$dark-900: #f9fafb; // Main Text



$red-500: #ff4d4f; // Primary Buttons / Header
$red-600: #d9363e; // Hover

$blue-500: #58a6ff;
$blue-600: #1f6feb;

$types: (
  normal:   #a8a77a,
  fire:     #ff7b54,
  water:    #58a6ff,
  electric: #f7d02c,
  grass:    #38a847,
  ice:      #76c7c0,
  fighting: #d73a49,
  poison:   #c77dff,
  ground:   #e3b341,
  flying:   #a5a2ff,
  psychic:  #ff6fae,
  bug:      #57e663,
  rock:     #c9b458,
  ghost:    #8b5cf6,
  dragon:   #7c7cff,
  dark:     #636e72,
  steel:    #b1bac4,
  fairy:    #f0a6ca
);
